<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
  <div class="bar bar-header bar-positive">
    <h1 class="title">Left menu</h1>
  </div>
	<ion-content class="has-header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, assumenda.</ion-content>

	<div class="bar bar-footer bar-balanced">
	  <button class="button button-clear ">left</button>
	  <div class="title">title</div>
	  <button class="button button-clear ">right</button>
	</div>
	
  </ion-side-menu>

	<!-- Content -->
  <ion-side-menu-content>

  	<ion-nav-bar class="bar-balanced">

		<ion-nav-title>My App</ion-nav-title>		

	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>

	  <ion-nav-buttons side="right">
	   <!-- Toggle right side menu -->
	   <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
	</ion-nav-bar>

  	<ion-nav-view>

  	</ion-nav-view>

  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>

</ion-side-menus>