<div class="bar bar-header bar-positive">
    <h1 class="title">Elite Schedule</h1>
</div>
<ion-content class="has-header">
    <ion-list>
    <!-- nav-clear: disables any animation that would occur between views. It's used in links and menus -->
    <!-- menu-close: is a directive for the menu, it closes the menu. There's also menu-toggle -->
        <ion-item nav-clear menu-close>Home</ion-item>
        <ion-item nav-clear menu-close>Teams</ion-item>
        <ion-item nav-clear menu-close>Standings</ion-item>
        <ion-item nav-clear menu-close>Locations</ion-item>
        <ion-item nav-clear menu-close>Rules</ion-item>
    </ion-list>
</ion-content>
