<ion-view ng-controller="TeamDetailController as vm">

	<ion-nav-title>{{vm.teamName}}</ion-nav-title>

	<ion-content class="has-header">

	<div class="card">

		<div class="item item-toggle">
			<h2>{{vm.following ? "Following" : "Not Following"}}</h2>
			<label class="toggle toggle-energized" ng-click="vm.toggleFollow()">
				<input type="checkbox" ng-model="vm.following">
				<div class="track" >
					<div class="handle"></div>
				</div>
			</label>
		</div>

		<div class="item">
			<h2>Record: {{vm.teamStanding.wins}}-{{vm.teamStanding.losses}}</h2>
		</div>
	</div>

		<div class="list">
			<a class="item item-icon-right" ng-repeat="game in vm.games" ui-sref="app.game({id:game.gameId})">

			<div class="row">
				<div class="col-20">
					<p style="font-size:12px !important">{{game.time | date:'M/d/yy'}}</p>
					<p style="font-size:10px !important">{{game.time | date: 'shortTime'}}</p>
				</div>

				<div class="col col-center">
					<h3 style="font-size:10px !important">{{game.homeAway}} {{game.opponent}}</h3>
					<p style="font-size:10px !important">{{game.location}}</p>
				</div>
				<div class="col-20 col-center">
					<h4 style="font-size:10px !important" class="positive">{{game.scoreDisplay}}</h4>
				</div>					
			</div>

			<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
	</ion-content>
</ion-view>