<ion-view ng-controller="TeamDetailController as teamDetail">

	<ion-nav-title>{{teamDetail.teamName}}</ion-nav-title>

	<ion-content class="has-header">

	<div class="card">

		<div class="item item-checkbox">
			<h2>{{teamDetail.following ? "Following" : "Not Following"}}</h2>
			<label class="checkbox">
				<input type="checkbox" ng-model="teamDetail.following">
			</label>
		</div>

		<div class="item item-checkbox">
			<h2>{{teamDetail.following ? "Following" : "Not Following"}}</h2>
			<label class="toggle toggle-energized">
				<input type="checkbox" ng-model="teamDetail.following">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>

		<div class="item item-button-right">
			<h2>Record: {{game.teamStanding.wins}}-{{game.teamStanding.losses}}</h2>
			<button class="button button-positive icon-left" ng-class="{'ion-checkmark-round': teamDetail.following, 'ion-plus-round button-outline' : !teamDetail.following}" ng-click="teamDetail.toggleFollow()">
				{{teamDetail.following ? "Following" : "Not Following"}}
			</button>
		</div>
	</div>

		<div class="list">
			<a class="item item-icon-right" ng-repeat="game in teamDetail.games" ui-sref="app.game({id:game.gameId})">

			<div class="row">
				<div class="col-20">
					<p>{{game.time | date:'M/d/yy'}}</p>
					<p>{{game.time | date: 'shortTime'}}</p>
				</div>

				<div class="col col-center">
					<h3>{{game.homeAway}} {{game.opponent}}</h3>
					<p>{{game.location}}</p>
				</div>
				<div class="col-20">
					<h4 class="positive">{{game.scoreDisplay}}</h4>
				</div>					
			</div>

			<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
	</ion-content>
</ion-view>